@font-face {
    font-family: 'nb-icon';
    src:  url('../fonts/nb-icon.eot?d2tsk1');
    src:  url('../fonts/nb-icon.eot?d2tsk1#iefix') format('embedded-opentype'),
      url('../fonts/nb-icon/nb-icon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon {
    font-family: 'nb-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .nb-linkedin-brands:before {
    content: "\e904";
  }
  .nb-facebook-square-brands:before {
    content: "\e905";
  }
  .nb-instagram-brands:before {
    content: "\e906";
  }
  .nb-times-circle-regular:before {
    content: "\e907";
  }
  .nb-phone-alt-solid:before {
    content: "\e901";
  }
  .nb-code-solid:before {
    content: "\e902";
  }
  .nb-user-circle-regular:before {
    content: "\e903";
  }
  .nb-bars-solid:before {
    content: "\e900";
  }
  